@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

*,
*::before,
*::after {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: var(--font-poppins);
}

@layer utilities {
  .btn {
    background: transparent;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: var(--font-courgette);
    @apply font-bold emd:text-xl;
  }

  .btn:hover {
    color: #fff;
    background: #f2c59f;
    background-image: -webkit-linear-gradient(top, #f2c59f, #a84d02);
    background-image: -moz-linear-gradient(top, #f2c59f, #a84d02);
    background-image: -ms-linear-gradient(top, #f2c59f, #a84d02);
    background-image: -o-linear-gradient(top, #f2c59f, #a84d02);
    background-image: linear-gradient(to bottom, #f2c59f, #a84d02);
    text-decoration: none;
  }

  .active-btn {
    color: #fff;
    background: #de9a62;
    background-image: -webkit-linear-gradient(top, #de9a62, #6b3406);
    background-image: -moz-linear-gradient(top, #de9a62, #6b3406);
    background-image: -ms-linear-gradient(top, #de9a62, #6b3406);
    background-image: -o-linear-gradient(top, #de9a62, #6b3406);
    background-image: linear-gradient(to bottom, #de9a62, #6b3406);
  }

  .hidden-text {
    opacity: 0;
    height: 100%;
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    transition: opacity 1s ease-in-out;
    margin: 0 auto;
  }

  .hidden-text:hover {
    opacity: 1;
    color: #fff;
    background-color: #5ab9f4;
    padding: 20px;
    margin: 0 auto;
  }

  .section-style {
    @apply flex flex-col w-[65%];
  }

  .title-style {
    @apply font-bold text-center text-[26px] leading-[32px] md:text-[32px] md:leading-[42px] lg:text-[38px] lg:leading-[48px] xl:text-[50px] xl:leading-[68px];
    font-family: var(--font-courgette);
  }

  .text-style {
    @apply font-light text-center text-[16px] leading-[24px] md:text-[18px] md:leading-[28px] lg:text-[20px] lg:leading-[32px] xl:text-[22px] xl:leading-[36px];
  }

  .question-style {
    @apply text-yellow-800 font-normal text-left text-[18px] leading-[32px] md:text-[20px] md:leading-[38px] lg:text-[22px] lg:leading-[42px] xl:text-[26px] xl:leading-[48px];
  }

  .answer-style {
    @apply font-light text-left text-[16px] leading-[24px] md:text-[18px] md:leading-[28px] lg:text-[20px] lg:leading-[32px] xl:text-[22px] xl:leading-[36px];
  }

  .label-style {
    @apply font-bold cursor-pointer text-[18px] leading-[32px] md:text-[20px] md:leading-[38px] lg:text-[22px] lg:leading-[42px] xl:text-[26px] xl:leading-[48px];
  }

  .input-style {
    @apply bg-gray-50 h-[54px] rounded-full px-4 py-3 border-none outline-none;
  }

  .textarea-style {
    @apply bg-gray-50 rounded-sm px-4 py-3 border-none outline-none w-full h-[200px] text-left;
  }

  .form-btn {
    @apply btn active-btn;
    padding: 30px;
  }
}
