@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

*,
*::before,
*::after {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: var(--font-poppins);
}

@layer utilities {
  .btn {
    background: transparent;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: var(--font-courgette);
    @apply font-bold md:text-xl;
  }

  .btn:hover {
    color: #fff;
    background: #f2c59f;
    background-image: -webkit-linear-gradient(top, #f2c59f, #a84d02);
    background-image: -moz-linear-gradient(top, #f2c59f, #a84d02);
    background-image: -ms-linear-gradient(top, #f2c59f, #a84d02);
    background-image: -o-linear-gradient(top, #f2c59f, #a84d02);
    background-image: linear-gradient(to bottom, #f2c59f, #a84d02);
    text-decoration: none;
  }

  .active-btn {
    color: #fff;
    background: #de9a62;
    background-image: -webkit-linear-gradient(top, #de9a62, #6b3406);
    background-image: -moz-linear-gradient(top, #de9a62, #6b3406);
    background-image: -ms-linear-gradient(top, #de9a62, #6b3406);
    background-image: -o-linear-gradient(top, #de9a62, #6b3406);
    background-image: linear-gradient(to bottom, #de9a62, #6b3406);
  }

  .delete-btn {
    color: #ffffff;
    background: #d93434;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 100%;
    @apply text-custom-red bg-transparent hover:bg-transparent font-bold cursor-pointer text-[18px] leading-[32px] md:text-[20px] md:leading-[38px] lg:text-[22px] lg:leading-[42px] xl:text-[26px] xl:leading-[48px];
  }

  .delete-btn:hover {
    color: #ffffff;
    background: #f23333;
    background-image: -webkit-linear-gradient(top, #f23333, #cf0b0b);
    background-image: -moz-linear-gradient(top, #f23333, #cf0b0b);
    background-image: -ms-linear-gradient(top, #f23333, #cf0b0b);
    background-image: -o-linear-gradient(top, #f23333, #cf0b0b);
    background-image: linear-gradient(to bottom, #f23333, #cf0b0b);
    text-decoration: none;
    @apply bg-transparent hover:bg-transparent font-bold;
  }

  .hidden-text {
    opacity: 0;
    height: 100%;
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    transition: opacity 1s ease-in-out;
    margin: 0 auto;
    overflow-wrap: anywhere;
  }

  .hidden-text:hover {
    opacity: 1;
    color: #fff;
    background-color: #d2a989;
    padding: 20px;
    margin: 0 auto;
  }

  .section-style {
    @apply flex flex-col w-[65%] py-4 relative;
  }

  .title-style {
    @apply font-bold text-center text-[26px] leading-[32px] md:text-[32px] md:leading-[42px] lg:text-[38px] lg:leading-[48px] xl:text-[50px] xl:leading-[68px] pb-3;
    font-family: var(--font-courgette);
  }

  .text-style {
    @apply font-light text-center text-[16px] leading-[24px] md:text-[18px] md:leading-[28px] lg:text-[20px] lg:leading-[32px] xl:text-[22px] xl:leading-[36px] mb-4;
  }

  .text2-style {
    @apply font-light text-left text-[16px] leading-[24px] md:text-[18px] md:leading-[28px] lg:text-[20px] lg:leading-[32px] xl:text-[22px] xl:leading-[36px];
  }

  .question-style {
    @apply text-yellow-800 font-normal text-left text-[18px] leading-[32px] md:text-[20px] md:leading-[38px] lg:text-[22px] lg:leading-[42px] xl:text-[26px] xl:leading-[48px];
  }

  .answer-style {
    @apply font-light text-left text-[16px] leading-[24px] md:text-[18px] md:leading-[28px] lg:text-[20px] lg:leading-[32px] xl:text-[22px] xl:leading-[36px];
  }

  .label-style {
    @apply text-yellow-800 font-bold cursor-pointer text-[18px] leading-[32px] md:text-[20px] md:leading-[38px] lg:text-[22px] lg:leading-[42px] xl:text-[26px] xl:leading-[48px];
  }

  .input-style {
    @apply bg-transparent border-t-0 border-r-0 border-l-0 border-b-4 border-white h-[54px] rounded-lg px-4 py-3 focus:outline-4 focus:bg-white;
  }

  .edit-input-style {
    @apply bg-transparent border-t-0 border-r-0 border-l-0 border-b-4 border-white h-[54px] rounded-lg px-4 py-3 focus:outline-4 text-white focus:bg-white focus:text-black;
  }

  .textarea-style {
    @apply bg-gray-50 rounded-sm px-4 py-3 border-none outline-none w-full h-[200px] text-left;
  }

  .edit-textarea-style {
    @apply bg-transparent border-t-0 border-r-0 border-l-0 border-b-4 border-white rounded-sm px-4 py-3  w-full h-[200px] text-left text-white focus:bg-white focus:text-black;
  }

  .mobile-edit-textarea-style {
    @apply bg-transparent border-t-0 border-r-0 border-l-0 border-b-4 border-white rounded-sm px-4 py-3  w-full h-[130px] text-left text-white focus:bg-white focus:text-black;
  }

  .form-style {
    @apply flex flex-col md:grid md:grid-cols-2 gap-5 pt-10 relative;
  }

  .edit-form-style {
    @apply flex flex-col gap-5 absolute h-fit w-full bg-black p-10 rounded-lg z-10 border-yellow-800 border-4;
  }

  .mobile-edit-tab {
    @apply w-full bg-transparent text-white font-bold;
  }

  .tab-trigger {
    @apply flex-1 text-style;
  }

  .tab-content {
    @apply max-h-[300px];
  }

  .form-btn {
    @apply btn active-btn;
    padding: 30px;
  }

  ::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #fff; /* Color of the scrollbar track */
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #6b3406; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Radius of the scrollbar thumb */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #f2c59f; /* Color of the scrollbar thumb on hover */
  }

  .edit-btn-style {
    position: relative;
    left: calc(50% - 26px);
    width: 51px;
    height: 51px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    perspective: 640px;
  }

  .edit-btn-divs {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }

  .edit-btn-divs.edit-btn-div-one {
    left: 0%;
    top: 0%;
    animation: edit-btn-div-rotate-one 1.15s linear infinite;
    -o-animation: edit-btn-div-rotate-one 1.15s linear infinite;
    -ms-animation: edit-btn-div-rotate-one 1.15s linear infinite;
    -webkit-animation: edit-btn-div-rotate-one 1.15s linear infinite;
    -moz-animation: edit-btn-div-rotate-one 1.15s linear infinite;
    border-bottom: 2px solid #ffcb05;
  }

  .edit-btn-divs.edit-btn-div-two {
    right: 0%;
    top: 0%;
    animation: edit-btn-div-rotate-two 1.15s linear infinite;
    -o-animation: edit-btn-div-rotate-two 1.15s linear infinite;
    -ms-animation: edit-btn-div-rotate-two 1.15s linear infinite;
    -webkit-animation: edit-btn-div-rotate-two 1.15s linear infinite;
    -moz-animation: edit-btn-div-rotate-two 1.15s linear infinite;
    border-right: 2px solid #e81b1c;
  }

  .edit-btn-divs.edit-btn-div-three {
    right: 0%;
    bottom: 0%;
    animation: edit-btn-div-rotate-three 1.15s linear infinite;
    -o-animation: edit-btn-div-rotate-three 1.15s linear infinite;
    -ms-animation: edit-btn-div-rotate-three 1.15s linear infinite;
    -webkit-animation: edit-btn-div-rotate-three 1.15s linear infinite;
    -moz-animation: edit-btn-div-rotate-three 1.15s linear infinite;
    border-top: 2px solid #044ea2;
  }

  @keyframes edit-btn-div-rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @-o-keyframes edit-btn-div-rotate-one {
    0% {
      -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @-ms-keyframes edit-btn-div-rotate-one {
    0% {
      -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @-webkit-keyframes edit-btn-div-rotate-one {
    0% {
      -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @-moz-keyframes edit-btn-div-rotate-one {
    0% {
      -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @keyframes edit-btn-div-rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @-o-keyframes edit-btn-div-rotate-two {
    0% {
      -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @-ms-keyframes edit-btn-div-rotate-two {
    0% {
      -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @-webkit-keyframes edit-btn-div-rotate-two {
    0% {
      -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @-moz-keyframes edit-btn-div-rotate-two {
    0% {
      -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @keyframes edit-btn-div-rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  @-o-keyframes edit-btn-div-rotate-three {
    0% {
      -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  @-ms-keyframes edit-btn-div-rotate-three {
    0% {
      -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  @-webkit-keyframes edit-btn-div-rotate-three {
    0% {
      -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  @-moz-keyframes edit-btn-div-rotate-three {
    0% {
      -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  .add-btn {
    width: 82px;
    height: 82px;
    line-height: 82px;
    margin: 27px auto;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    z-index: 0;
    text-transform: uppercase;
    -o-text-transform: uppercase;
    -ms-text-transform: uppercase;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    cursor: pointer;
  }

  .add-btn:before,
  .add-btn:after {
    opacity: 0;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    content: "\0020";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 55px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0 0 27px rgb(0, 0, 0), inset 0 0 27px rgb(0, 0, 0);
    -o-box-shadow: 0 0 27px rgb(0, 0, 0), inset 0 0 27px rgb(0, 0, 0);
    -ms-box-shadow: 0 0 27px rgb(0, 0, 0), inset 0 0 27px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 27px rgb(0, 0, 0), inset 0 0 27px rgb(0, 0, 0);
    -moz-box-shadow: 0 0 27px rgb(0, 0, 0), inset 0 0 27px rgb(0, 0, 0);
  }

  .add-btn:after {
    z-index: 1;
    animation: cssload-gogoloader 2.3s infinite 1.15s;
    -o-animation: cssload-gogoloader 2.3s infinite 1.15s;
    -ms-animation: cssload-gogoloader 2.3s infinite 1.15s;
    -webkit-animation: cssload-gogoloader 2.3s infinite 1.15s;
    -moz-animation: cssload-gogoloader 2.3s infinite 1.15s;
  }

  .add-btn:before {
    z-index: 2;
    animation: cssload-gogoloader 2.3s infinite;
    -o-animation: cssload-gogoloader 2.3s infinite;
    -ms-animation: cssload-gogoloader 2.3s infinite;
    -webkit-animation: cssload-gogoloader 2.3s infinite;
    -moz-animation: cssload-gogoloader 2.3s infinite;
  }

  @keyframes cssload-gogoloader {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  @-o-keyframes cssload-gogoloader {
    0% {
      -o-transform: scale(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -o-transform: scale(1);
      opacity: 0;
    }
  }

  @-ms-keyframes cssload-gogoloader {
    0% {
      -ms-transform: scale(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -ms-transform: scale(1);
      opacity: 0;
    }
  }

  @-webkit-keyframes cssload-gogoloader {
    0% {
      -webkit-transform: scale(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      opacity: 0;
    }
  }

  @-moz-keyframes cssload-gogoloader {
    0% {
      -moz-transform: scale(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -moz-transform: scale(1);
      opacity: 0;
    }
  }

  #inTurnBlurringTextG {
    color: white;
    margin: auto;
  }

  .inTurnBlurringTextG {
    color: transparent;
    font-family: Arial;
    font-size: 28px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    float: left;
    text-shadow: rgb(0, 0, 0) 0 0 0;
    animation-name: bounce_inTurnBlurringTextG;
    -o-animation-name: bounce_inTurnBlurringTextG;
    -ms-animation-name: bounce_inTurnBlurringTextG;
    -webkit-animation-name: bounce_inTurnBlurringTextG;
    -moz-animation-name: bounce_inTurnBlurringTextG;
    animation-duration: 2.09s;
    -o-animation-duration: 2.09s;
    -ms-animation-duration: 2.09s;
    -webkit-animation-duration: 2.09s;
    -moz-animation-duration: 2.09s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
  }

  #inTurnBlurringTextG_1 {
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
  }
  #inTurnBlurringTextG_2 {
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
  }
  #inTurnBlurringTextG_3 {
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
  }
  #inTurnBlurringTextG_4 {
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
  }
  #inTurnBlurringTextG_5 {
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
  }
  #inTurnBlurringTextG_6 {
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
  }
  #inTurnBlurringTextG_7 {
    animation-delay: 1.65s;
    -o-animation-delay: 1.65s;
    -ms-animation-delay: 1.65s;
    -webkit-animation-delay: 1.65s;
    -moz-animation-delay: 1.65s;
  }
  #inTurnBlurringTextG_8 {
    animation-delay: 1.8s;
    -o-animation-delay: 1.8s;
    -ms-animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
  }
  #inTurnBlurringTextG_9 {
    animation-delay: 1.95s;
    -o-animation-delay: 1.95s;
    -ms-animation-delay: 1.95s;
    -webkit-animation-delay: 1.95s;
    -moz-animation-delay: 1.95s;
  }
  #inTurnBlurringTextG_10 {
    animation-delay: 2.1s;
    -o-animation-delay: 2.1s;
    -ms-animation-delay: 2.1s;
    -webkit-animation-delay: 2.1s;
    -moz-animation-delay: 2.1s;
  }

  @keyframes bounce_inTurnBlurringTextG {
    0% {
      text-shadow: rgb(0, 0, 0) 0 0 0;
    }

    100% {
      text-shadow: rgb(255, 255, 255) 0 0 19px;
    }
  }

  @-o-keyframes bounce_inTurnBlurringTextG {
    0% {
      text-shadow: rgb(0, 0, 0) 0 0 0;
    }

    100% {
      text-shadow: rgb(255, 255, 255) 0 0 19px;
    }
  }

  @-ms-keyframes bounce_inTurnBlurringTextG {
    0% {
      text-shadow: rgb(0, 0, 0) 0 0 0;
    }

    100% {
      text-shadow: rgb(255, 255, 255) 0 0 19px;
    }
  }

  @-webkit-keyframes bounce_inTurnBlurringTextG {
    0% {
      text-shadow: rgb(0, 0, 0) 0 0 0;
    }

    100% {
      text-shadow: rgb(255, 255, 255) 0 0 19px;
    }
  }

  @-moz-keyframes bounce_inTurnBlurringTextG {
    0% {
      text-shadow: rgb(0, 0, 0) 0 0 0;
    }

    100% {
      text-shadow: rgb(255, 255, 255) 0 0 19px;
    }
  }

  #circularG {
    position: relative;
    width: 42px;
    height: 42px;
    margin: auto;
  }

  .circularG {
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 10px;
    height: 10px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    animation-name: bounce_circularG;
    -o-animation-name: bounce_circularG;
    -ms-animation-name: bounce_circularG;
    -webkit-animation-name: bounce_circularG;
    -moz-animation-name: bounce_circularG;
    animation-duration: 0.668s;
    -o-animation-duration: 0.668s;
    -ms-animation-duration: 0.668s;
    -webkit-animation-duration: 0.668s;
    -moz-animation-duration: 0.668s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
  }

  #circularG_1 {
    left: 0;
    top: 17px;
    animation-delay: 0.248s;
    -o-animation-delay: 0.248s;
    -ms-animation-delay: 0.248s;
    -webkit-animation-delay: 0.248s;
    -moz-animation-delay: 0.248s;
  }

  #circularG_2 {
    left: 4px;
    top: 4px;
    animation-delay: 0.334s;
    -o-animation-delay: 0.334s;
    -ms-animation-delay: 0.334s;
    -webkit-animation-delay: 0.334s;
    -moz-animation-delay: 0.334s;
  }

  #circularG_3 {
    top: 0;
    left: 17px;
    animation-delay: 0.42s;
    -o-animation-delay: 0.42s;
    -ms-animation-delay: 0.42s;
    -webkit-animation-delay: 0.42s;
    -moz-animation-delay: 0.42s;
  }

  #circularG_4 {
    right: 4px;
    top: 4px;
    animation-delay: 0.506s;
    -o-animation-delay: 0.506s;
    -ms-animation-delay: 0.506s;
    -webkit-animation-delay: 0.506s;
    -moz-animation-delay: 0.506s;
  }

  #circularG_5 {
    right: 0;
    top: 17px;
    animation-delay: 0.592s;
    -o-animation-delay: 0.592s;
    -ms-animation-delay: 0.592s;
    -webkit-animation-delay: 0.592s;
    -moz-animation-delay: 0.592s;
  }

  #circularG_6 {
    right: 4px;
    bottom: 4px;
    animation-delay: 0.668s;
    -o-animation-delay: 0.668s;
    -ms-animation-delay: 0.668s;
    -webkit-animation-delay: 0.668s;
    -moz-animation-delay: 0.668s;
  }

  #circularG_7 {
    left: 17px;
    bottom: 0;
    animation-delay: 0.754s;
    -o-animation-delay: 0.754s;
    -ms-animation-delay: 0.754s;
    -webkit-animation-delay: 0.754s;
    -moz-animation-delay: 0.754s;
  }

  #circularG_8 {
    left: 4px;
    bottom: 4px;
    animation-delay: 0.84s;
    -o-animation-delay: 0.84s;
    -ms-animation-delay: 0.84s;
    -webkit-animation-delay: 0.84s;
    -moz-animation-delay: 0.84s;
  }

  @keyframes bounce_circularG {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.3);
    }
  }

  @-o-keyframes bounce_circularG {
    0% {
      -o-transform: scale(1);
    }

    100% {
      -o-transform: scale(0.3);
    }
  }

  @-ms-keyframes bounce_circularG {
    0% {
      -ms-transform: scale(1);
    }

    100% {
      -ms-transform: scale(0.3);
    }
  }

  @-webkit-keyframes bounce_circularG {
    0% {
      -webkit-transform: scale(1);
    }

    100% {
      -webkit-transform: scale(0.3);
    }
  }

  @-moz-keyframes bounce_circularG {
    0% {
      -moz-transform: scale(1);
    }

    100% {
      -moz-transform: scale(0.3);
    }
  }
}
